*{
	padding: 0;
	margin: 0;
}
.main-body{
	margin-top: 4.4rem;
}
.logo{
	height: 40px;
}
/*right site menu*/
.dropbtn {
  background-color: #4CAF50;
  color: white;
  height: 40px;
  width: 40px;
  /*padding: 16px;*/
  font-size: 16px;
  border: none;
  cursor: pointer;
   border-radius: 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
 
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-transform: capitalize;
 
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

